# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

*.* text eol=lf

# Declare files that will always have CRLF line endings on checkout.
*.rsc text eol=crlf

# Declare files that will always have LF line endings on checkout.
*.py text eol=lf
