:local metaInfo {
    "type"="config";
    "name"="{{ package_name }}";
    "description"="{{ package_desc }}";
    "created_at"="{{ created_at }}";
    "last_modify"="{{ last_modify }}";
}

:global Nil;
:global InputV;

{% for k, v in data.items() %}
:local {{ k }} {{ v }};
{% endfor %}

:local config {
    {% for k in data %}
    "{{ k }}"=${{ k }};
    {% endfor %}
    "metaInfo"=$metaInfo;
}
:return $config;
