# extension package meta list
:local packageList {
    {% for meta in package_mapping.values() %}
    {
        "name"="{{ meta.name }}";
        {% if meta.author %}
        "author"="{{ meta.author }}";
        {% endif %}
        "description"="{{ meta.description }}";
        "version"="{{ meta.version }}";
        "url"="{{ meta.url }}";
        {% if meta.global == "true" %}
        "global"=true;
        {% endif %}
    };
    {% endfor %}
};

# extension package meta mapping, use with list.
:local packageMapping {
    {% for name in package_mapping %}
    "{{ name }}"={{ loop.index0 }};
    {% endfor %}
}

:local packageInfo {
    "packageList"=$packageList;
    "packageMapping"=$packageMapping;
}

:return $packageInfo;
